:root {
	--container-padding: 12px;
	--toolbar-height: 40px;
	--input-padding-vertical: 4px;
	--input-padding-horizontal: 6px;
	--font-size: 13px;
	--font-family: var(--vscode-editor-font-family);
	--bg-color: var(--vscode-panel-background);
	--fg-color: var(--vscode-editor-foreground);
	--border-color: var(--vscode-panel-border);
	--input-bg: var(--vscode-input-background);
	--input-fg: var(--vscode-input-foreground);
	--input-border: var(--vscode-input-border);
	--button-bg: var(--vscode-button-background);
	--button-fg: var(--vscode-button-foreground);
	--button-hover: var(--vscode-button-hoverBackground);
	--button-secondary-hover: var(--vscode-button-secondaryHoverBackground);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--vscode-foreground);
	background: var(--vscode-sideBarTitle-background);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	overflow: hidden;
}

* {
	box-sizing: border-box;
	scrollbar-color: unset !important;
	font-family: inherit;
}
*:focus { outline-color: var(--vscode-focusBorder) !important; }

ul, li {
	appearance: none;
	margin: 0;
	padding: 0;
}
a { color: var(--vscode-textLink-foreground); }
a:hover, a:active { color: var(--vscode-textLink-activeForeground); }

button {
	width: 100%;
	padding: 6px;
	border: none;
	border-radius: 2px;
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px;
	transition: background .2s, outline-color .2s;
}
button:hover {
	cursor: pointer;
	background-color: var(--vscode-button-hoverBackground);
}
button:focus { outline-color: transparent !important; }
button:focus-visible { outline-color: var(--vscode-focusBorder) !important; }

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background-color: var(--vscode-button-secondaryBackground);
	outline-offset: 0;
}
button.secondary:hover { background-color: var(--vscode-button-secondaryHoverBackground); }

input:not([type='checkbox']), textarea, select {
	display: block;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	border: none;
	border-radius: 2px;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	outline-color: var(--vscode-input-border);
	font-family: var(--vscode-font-family);
	line-height: 18px;
}
input::placeholder, textarea::placeholder { color: var(--vscode-input-placeholderForeground); }

.progress {
	position: absolute;
	top: 2px;
	width: 10vw;
	height: 2px;
	background: var(--vscode-progressBar-background);

	animation: progress 5s linear infinite;

	&.absolute {
		position: absolute;
		inset: 0 auto auto 0;
	}
}
@keyframes progress {
	0% {
		translate: -10vw 0;
		scale: .3 1;
	}
	50% {
		scale: .7 1;
	}
	100% {
		translate: 100vw 0;
		scale: .3 1;
	}
}
